body{
    font-size: large;
}
div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

li{
    list-style: none;
}

button{
    width: 50px;
    height: 50px;
}
label{
    width: 214px;
    height: 50px;
    font-size: x-large;
    font-weight: 500;
    margin-bottom: 20px;
    padding: 10px;  
    border-radius: 10px;
    border: rgb(0, 0, 0) solid 2px;
    margin: 5px;
    margin-bottom: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(253, 247, 182);
}

.cal_background{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    max-width: 285px;
    border: rgb(79, 43, 0) solid 3px; 
    background-image: url(img/Background\ image.jpg); 
    background-size: 250%;
    background-repeat: no-repeat;
    padding-top: 20px; 
    padding-bottom: 20px;    
}